---
fit:
  hosts:
    bob:
        ansible_host: your-host01
        ansible_user: root

        # currently, one a single peer is supported for arnika
        # rosenpass should support multiple peers
        # use ansible host name
        peer: alice

        # arnika
        # listen=slave
        arnika_listen: 0.0.0.0:9999
        arnika_peer: "{{ hostvars[peer].ansible_host }}:9999"
        kms_ip: 10.40.2.5 # slave FJFI-FIT
        arnika_interval: 137s # MASTER_TIMEOUT (120) + KMS_timeout (10) + safety (7)
        arnika_kms_timeout: 10s

        # rosenpass
        rosenpass_listen: 0.0.0.0:9998
        pqc_psk_file: "/var/cache/arnika/{{peer}}/pqc_psk"

        # wireguard
        wireguard_peer_ip: 10.200.1.2
        wg_peer_public: sX+IB/0F5tjnJwy7QqQmK6mpBjdca9Lx8HolEquMMCo=
        wg_interface: wgqkd0

        # kms
        kms_cert_dir: /etc/arnika/kms
        kms_my_name: CONSUMER-B-FJFI
        kms_peer_name: CONSUMER-A-FJFI
        kms_ca_file: QKD-polygon-CTU

    alice:
        ansible_host: your-host02
        ansible_user: root

        peer: bob

        arnika_listen: 0.0.0.0:9999
        # arnika_peer: faikltom-01.kib.in.fit.cvut.cz:9999
        arnika_peer: "{{ hostvars[peer].ansible_host }}:9999"
        kms_ip: 10.40.1.5 # master FJFI-FIT

        # wireguard
        wireguard_peer_ip: 10.200.1.3
        wg_peer_public: qjVcqiwn1pe5f3K/uawq9kpOj3iRl5hRnCQk2yYDLho=

        # kms
        kms_cert_dir: /etc/arnika/kms
        kms_my_name: CONSUMER-A-FJFI
        kms_peer_name: CONSUMER-B-FJFI
        kms_ca_file: QKD-polygon-CTU

        # arnika
        arnika_interval: 120s
        arnika_kms_timeout: 10s

        # rosenpass
        rosenpass_listen: 0.0.0.0:9998 # rosenpass config must have listen clause??
        pqc_psk_file: "/var/cache/arnika/{{peer}}/pqc_psk"

        wg_interface: wgqkd0



#[fit-servers]
#faikltom-01 ansible_host=faikltom-01.kib.in.fit.cvut.cz ansible_user=root

#[fit-servers:vars]
#ansible_python_interpreter=/usr/bin/python3

