# Bob
KMS_MODE=LAST_FALLBACK
LISTEN_ADDRESS={{ arnika_listen if arnika_listen is defined else "" }}
# SERVER_ADDRESS=peer_ip:arnika_port 
# TODO: skip server address in asymetric scenarios
SERVER_ADDRESS={{ arnika_peer if arnika_peer is defined else "" }}
WIREGUARD_PEER_PUBLIC_KEY={{wg_peer_public}}
KMS_URL=https://{{kms_ip}}:443/api/v1/keys/{{kms_peer_name}}
CERTIFICATE={{kms_cert_dir}}/{{kms_my_name}}.crt
PRIVATE_KEY={{kms_cert_dir}}/{{kms_my_name}}.key
CA_CERTIFICATE={{kms_cert_dir}}/{{kms_ca_file}}.pem
KMS_HTTP_TIMEOUT={{arnika_kms_timeout}}
WIREGUARD_INTERFACE={{wg_interface}}
INTERVAL={{arnika_interval}}
PQC_PSK_FILE={{pqc_psk_file}}
