# ${ALICE_IP} ... defined in .env file
services:
  alice:
    image: test-vpn
    container_name: alice
    restart: unless-stopped
    networks:
      lan:
        ipv4_address: ${ALICE_IP}
    environment:
      - KMS_MODE=LAST_FALLBACK
      - SLEEP=2
      - LOCAL_BOB=1
      - PSK_TIMEOUT_INTERVAL=20s
      - WIREGUARD_OTHER=10.200.1.3
      - LISTEN_ADDRESS=${ALICE_IP}:9998 # for modified arnika version
      - SERVER_ADDRESS=${BOB_IP}:9998
      - WIREGUARD_PEER_PUBLIC_KEY=qjVcqiwn1pe5f3K/uawq9kpOj3iRl5hRnCQk2yYDLho=
      - KMS_URL=https://${KMSM_IP}:443/api/v1/keys/CONSUMER-B-FIT
      - CERTIFICATE=${CERT_FOLDER}/CONSUMER-A-FIT.crt
      - PRIVATE_KEY=${CERT_FOLDER}/CONSUMER-A-FIT.key

      - CA_CERTIFICATE=${CERT_FOLDER}/QKD-polygon-CTU.pem
      - KMS_HTTP_TIMEOUT=10s
      - WIREGUARD_INTERFACE=wg0
      - INTERVAL=120s
    volumes:
      - ./config/alice/wg:/etc/wireguard
      - ./config/alice/rosenpass:/etc/rosenpass
     # - /lib/modules:/lib/modules:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
  bob:
    image: test-vpn
    container_name: bob
    restart: unless-stopped
    networks:
      lan:
        ipv4_address: ${BOB_IP}
    environment:
      - KMS_MODE=LAST_FALLBACK
      - SLEEP=0
      - PSK_TIMEOUT_INTERVAL=20s
      - WIREGUARD_OTHER=10.200.1.2
      - LISTEN_ADDRESS=${BOB_IP}:9998
      - SERVER_ADDRESS=${ALICE_IP}:9998 # for modified arnika version
      - WIREGUARD_PEER_PUBLIC_KEY=sX+IB/0F5tjnJwy7QqQmK6mpBjdca9Lx8HolEquMMCo=
      - KMS_URL=https://${KMSS_IP}:443/api/v1/keys/CONSUMER-A-FIT
      - CERTIFICATE=${CERT_FOLDER}/CONSUMER-B-FIT.crt
      - PRIVATE_KEY=${CERT_FOLDER}/CONSUMER-B-FIT.key

      - CA_CERTIFICATE=${CERT_FOLDER}/QKD-polygon-CTU.pem
      - KMS_HTTP_TIMEOUT=10s
      - WIREGUARD_INTERFACE=wg0
      - INTERVAL=137s # MASTER_TIMEOUT (120) + KMS_timeout (10) + safety (7)
    volumes:
      - ./config/bob/wg:/etc/wireguard
      - ./config/bob/rosenpass:/etc/rosenpass
     # - /lib/modules:/lib/modules:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    #device:
    #  # access OpenVPN on the host
    #  - /dev/net/tun:/dev/net/tun
    #ports:
    #  - 51820:51820/udp
#   #   - 51821:51821/tcp
#    sysctls:
#      - net.ipv4.ip_forward=1
#      - net.ipv4.conf.all.src_valid_mark=1
#      - net.ipv6.conf.all.disable_ipv6=0
#      - net.ipv6.conf.all.forwarding=1
#      - net.ipv6.conf.default.forwarding=1

networks:
  lan:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 10.100.1.0/24 # 10.100.1.1 is the host itself
#        - subnet: fdcc:ad94:bacf:61a3::/64
